In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv("flights.csv")

In [8]:
flights_compr = flights[["AIRLINE", "FLIGHT_NUMBER", "TAIL_NUMBER", "ORIGIN_AIRPORT", "DESTINATION_AIRPORT", "ARRIVAL_DELAY"]]

In [10]:
flights_compr.head()

,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,ARRIVAL_DELAY
0,AS,98,N407AS,ANC,SEA,-22.0
1,AA,2336,N3KUAA,LAX,PBI,-9.0
2,US,840,N171US,SFO,CLT,5.0
3,AA,258,N3HYAA,LAX,MIA,-9.0
4,AS,135,N527AS,SEA,ANC,-21.0

In [11]:
flights_compr.to_json("flights.json", orient="records")

In [13]:
airports = pd.read_csv("airports.csv")
airports.to_json("airports.json", orient="records")

In [2]:
airlines = pd.read_csv("airlines.csv")
airlines.to_json("airlines.json", orient="records")