In [1]:
import pandas as pd

In [3]:
flights = pd.read_csv("flights.csv")

In [7]:
flights_compr = flights[["AIRLINE", "FLIGHT_NUMBER", "TAIL_NUMBER", "ORIGIN_AIRPORT", "DESTINATION_AIRPORT", "DEPARTURE_DELAY", "ARRIVAL_DELAY"]]

In [10]:
flights_compr.head()

,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,ARRIVAL_DELAY
0,AS,98,N407AS,ANC,SEA,-22.0
1,AA,2336,N3KUAA,LAX,PBI,-9.0
2,US,840,N171US,SFO,CLT,5.0
3,AA,258,N3HYAA,LAX,MIA,-9.0
4,AS,135,N527AS,SEA,ANC,-21.0

In [11]:
flights_compr.to_json("flights.json", orient="records")

In [13]:
airports = pd.read_csv("airports.csv")
airports.to_json("airports.json", orient="records")

In [2]:
airlines = pd.read_csv("airlines.csv")
airlines.to_json("airlines.json", orient="records")

In [9]:
flights[["DEPARTURE_DELAY"]].to_json("departure_delay.json", orient="records")

In [51]:
acas = pd.read_json("acas.json", orient="records", lines=True)
utc = pd.json_normalize(acas["acas_ra"])["utc"]

In [55]:
acas_compr = acas[["flight", "r", "alt_baro", "ground_speed", "lat", "lon"]]
acas_compr["utc"] = utc

<ipython-input-55-e20a019f5496>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acas_compr["utc"] = utc

In [57]:
acas_compr["on_ground"] = 0

<ipython-input-57-5a538964c83b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acas_compr["on_ground"] = 0

In [58]:
acas_compr.head()

,flight,r,alt_baro,ground_speed,lat,lon,utc,on_ground
0,N454DR,N454DR,1175,165.3,47.503160,-122.754470,2022-02-01 00:02:56.7,0
1,N454DR,N454DR,1200,167.4,47.503486,-122.754188,2022-02-01 00:02:57.5,0
2,N454DR,N454DR,1250,167.4,47.504150,-122.753540,2022-02-01 00:02:58.4,0
3,N454DR,N454DR,1275,169.0,47.504517,-122.753197,2022-02-01 00:02:59.2,0
4,N454DR,N454DR,1300,169.0,47.504837,-122.752922,2022-02-01 00:02:59.4,0

In [60]:
acas_compr.to_json("acas_cleaned.json", orient="records", lines=True)